body, h1, h2, h3, h4, h5, h6, p, span {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.ant-layout {
    background-color: white;
    min-height: 100vh;
}

.ant-layout-sider, .ant-layout-sider-trigger,
.ant-menu, .ant-menu-item-selected {
    background-color: #26262a !important;
}
.ant-layout-sider {
    min-height: 100vh;
}

.ant-menu-item-selected .anticon, .ant-menu-item-selected .anticon + span, .ant-menu-submenu-active {
    color: #c7a674 !important;
}

.ant-menu-submenu.menu-document > .ant-menu-submenu-title {
    padding: 0 30px 0 10px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ant-menu-inline-collapsed > .ant-menu-submenu.menu-document > .ant-menu-submenu-title {
    padding-right: 10px !important;
}

.ant-menu > .ant-menu-item-divider {
    background-color: #4c4c54;
}
